# This is 1st level heading

## This is my 2nd level heading

### This is my 3rd level heading

I am doing my python class today.

In [89]:
# This function is created by Arihant and it is doing addditons of 2 variables

In [91]:
# This function is created by Arihant

In [93]:
"""
Date: 17th Sept 20222
Written by: Arihant Jain
Purpose: Adding 2 
"""

'\nDate: 17th Sept 20222\nWritten by: Arihant Jain\nPurpose: Adding 2 \n'

In [94]:
a="This is my first python class"

In [95]:
print(a)

This is my first python class

In [96]:
a

'This is my first python class'

In [99]:
a=1

In [100]:
print(a)

1

In [101]:
print("a")

a

In [97]:
b=1
print(b)

1

In [8]:
print("This is my first python class")

This is my first python class

In [102]:
A=1
a=2
print (A,a)

1 2

In [11]:
print("a")

a

In [13]:
#Python Operators
#Arithmetic
#Comparison
#Assignment
#Logical
#Membership
#Identity
#Bitwise

# Arithmetic Operator +,-,*,/,//,%,**

In [103]:
#Normal Division (/) --> (Float div) 
x=6
y=5
r=x/y
print(r)

1.2

In [107]:
# Modulo Division (//) --> Floor Division --> without decimal values
x=10
y=5
res=x//y
print(res)

2

In [109]:
# Remainder Division (%)
x=10
y=3
res=x%y
print(res)

1

In [110]:
#Exponentiation (**)
res=x**y
print(res)

1000

In [21]:
x=9
y=9
print(x+y)

18

# Comparison Operators <,<=,>,>=,==,!=

# Comparison

In [116]:
a = 15
b = 15
print(a != b)

False

In [25]:
# is equal to
# a == b is False 
print(a == b)

False

In [117]:
# a != b is True 
print(a >= b)

True

# Assignment Operator =,+=,*=,%=

In [119]:
a = 21
b = 10
c = a + b
print (c)

31

In [120]:
c += a 
#--> c=c+a
print (c)

52

In [121]:
c *= a 
#c=c*a
print (c)

1092

In [122]:
a=4
c=10
c %= a 
#c=c/a --> Remainder
print (c)

2

In [37]:
a=4
c=10
c /=a 
# c=c/a
print(c)

2.5

# Logical Operator and, or, not

In [39]:
x = 5
y = 6 
print(x < 3 and x < 10)

False

In [123]:
x = 5
y = 6 
print(x > 3 and x < 2)

True

In [125]:
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not b)

SyntaxError: invalid syntax (2773613386.py, line 12)

In [126]:
Print("Arihant")

NameError: name 'Print' is not defined

In [127]:
print("Arihant")

Arihant

# Membership Operator- in, not in

In [1]:
x = 'IIT Academy'  
print('Cad' in x)

False

In [2]:
print('I' in x)

True

In [3]:
print('IIT' in x)

True

In [4]:
print('IIT' not in x)

False

In [5]:
print('Aca' not in x)

False

# Identity Operator is , is not

In [136]:
a1 = 3
b1 = 6
print(a1 is not b1)

True

In [55]:
print(a1 is b1)

False

In [1]:
a2 = 'IITACADEMY'
b2 = 'iitacademy'

In [57]:
print(a2 is b2)

False

In [58]:
print(a2 is not b2)

True

### Order of Operators

In [62]:
a=30
b=10
c=20
d=5
e=(a+b)*c/d
print(e)

160.0

# other commands

In [64]:
pwd()

'C:\\Users\\hp\\Downloads'

In [137]:
#Help
?print

In [138]:
#Dealing with Dates
import datetime as dt

In [140]:
# Microseconds
dt.datetime.now()

datetime.datetime(2022, 9, 17, 18, 19, 46, 983752)

In [141]:
dt.date.today()

datetime.date(2022, 9, 17)

In [142]:
#strfttime - Convert Date into string format
now = dt.datetime.now()
print(now)
t = now.strftime("%H:%M:%S")
print("time:", t)

2022-09-17 18:23:58.397568
time: 18:23:58

In [86]:
# Change the format of date
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print(s1)

09/17/2022, 14:27:13

In [143]:
a=5
b=10
c=12
print(a<10 and b>=10 and c<10)

False

In [ ]:
a=5
b=10
c=12
print(a<10 or b>=10 or c<10)